@import url(../fonts/exo2.0/stylesheet.css);
@import url(../fonts/minionpro/minionpro.css);
@import url(../fonts/neris/neris.css);
@import url(../fonts/play/play.css);


@color-yellow: #e9a13b;
@font-base: 'exo_2.0light';
@font-bold: 'exo_2.0semi_bold';


/* Base styles
   ========================= */

* {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
	color: #ffffff;
	font-family: @font-base;
}

html {
	font-size: 1em;
	line-height: 1.3;
}


.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
}


.block-01 {
	height: 950px;
	padding: 50px 0;
	background: url("../img/block-01_bg.jpg") top center no-repeat;

	.top {
		height: 180px;
	}

	.topnav {
		float: left;
		width: 600px;

		li {
			display: inline-block;
			margin-right: 15px;

			a {
				font-size: 14px;
				line-height: 20px;
				color: @color-yellow;
				font-family: @font-bold;
			}
			a:hover {
				color: @color-yellow + #222222;
			}

		}
	}

	.contact {
		width: 220px;
		height: 46px;
		float: right;
		text-align: right;

		.phone {
			color: #fff;
			font: 28px/30px 'playregular';
		}
		.worktime {
			font-size: 12px;
			line-height: 16px;
			color: @color-yellow;
		}
	}

	.logo {
		width: 159px;
		height: 117px;
		margin: 0 auto 85px auto;
		background: url("../img/logo.png") 0 0 no-repeat;
	}

	h1 {
		span {
			display: block;
		}
		span.first {
			font-size: 30px;
		}
		span.last {
			font-size: 36px;
		}
	}

	.benefit {
		overflow: hidden;

		li {
			float: left;
			width: 20%;
		}
	}
}

.block-02 {
	height: 950px;
	background: url("../img/block-02_bg.jpg") top center no-repeat;
}

.block-04 {
	height: 950px;
	background: url("../img/block-04_bg.jpg") top center no-repeat;
}

.block-05 {
	height: 950px;
	background: url("../img/block-05_bg.jpg") top center no-repeat;
}

.block-06 {
	height: 950px;
}

.block-07 {
	height: 950px;
	background: url("../img/block-07_bg.jpg") top center no-repeat;
}

.block-08 {
	height: 950px;
	background: url("../img/block-08_bg.jpg") top center no-repeat;
}



/* Typography
   ========================= */

h1, h2, h3, h4 {
	font-weight: normal;
	font-family: @color-yellow;
}

h1, {
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
}

h2 {
	font-size: 48px;
	line-height: 50px;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

a {

}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.text-center {
	text-align: center !important;
}



/* Helper classes
   ========================= */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}


.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after,
.container:after {
	clear: both;
}

.clearfix,
.container {
	*zoom: 1;
}

.img-responsive {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}
